body{
  margin: 30px;
  height: calc(100vh - 60px);
  width: 100%;
  overflow-x:hidden;
}
.chatroom {

  height: calc(100vh - 60px);
  margin-top: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  // margin-bottom: 0;
  margin-left: 100px;
  margin-right: 100px;
  padding: 12px;
  background: white;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // flex-grow: 1;
  border: 2px solid black;
  border-radius: 20px;

  h1 {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    // border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 10px;
    opacity: 0.8;
    font-size: 22px;
    border-bottom: 1.3px solid #FBE7B5;

  }
  .btn {
    background-color:#EF551D;
    color: white;
    // opacity: .8;
  }

  .messages {
    height: 100%;
    overflow-y: hidden;
    padding: 1rem;
    align-items: right;
  }

  .form-control {
    background-color: whitesmoke;
    border-radius: 4px;
    height: 100%;
  }

  #new_message {
    // border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.content-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: 6fr;

  margin-left: 80px;

  width: 100%;



  box-sizing: border-box;
  // display: flex;
  // justify-content: space-between;
}

.avatar-sidebar-chatroom {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // margin: auto auto 1.4rem auto;
  margin-left: 30px;
  border-radius: 40%;
}

#sidebar-chatroom {
  background-color: white;

  height: 100%;

  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  border: 2px solid black;
  margin-top: 20px;
}

.chatroom-sidebar-child-name {
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: rgba(0, 0, 0, 0.464);
}

// .chatroom-sidebar-room-teacher {
//   position: absolute;
//   left: 9.2%;
//   right: 56.6%;
//   top: 11.5%;
//   bottom: 86.97%;

//   font-family: 'Roboto', sans-serif;
//   font-style: normal;
//   font-weight: 700;
//   opacity: .8;
//   font-size: 18px;
//   line-height: 22px;
//   /* identical to box height */

// }
.logo-profile{
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid black;
}
