body{
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 100%;
}
.chatroom {
  height: calc(100vh - 60px);
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 140px;
  padding: 12px;
  background: white;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;

  h1 {
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: flex-end;
    // align-items: center;
    // margin-bottom: 0;
    // padding: 10px;
    // font-size: 22px;
    // border-bottom: 2px solid #4e8ee8da;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    color: black;
    // background: #FBCA1F;
    background: #4e8ee8da;
    margin-bottom: 12px;
    padding: 0.6em 1.3em;
    font-size: 20px;
    border: 3px solid black;
    // border-radius: 0.;
    box-shadow: 0.2em 0.2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;


  }
  .btn {
    background-color: white;
    border: none;
    color: white;
    margin-bottom: 1rem;
  }

  .messages {
    height: 100%;
    padding: 1rem;
    overflow: auto;
  }

  .form-control {
    background-color: whitesmoke;
    // border-radius: 4px;
    height: 100%;
    border: 3px solid rgb(128, 127, 127);
    // border-radius: 0.;
    box-shadow: 0.2em 0.2em rgb(128, 127, 127);
  }

  #new_message {
    padding: 1rem;
    padding-right: 0px;
    width: auto;
    .form-group {
      margin-bottom: 0;
    }
  }
}

.content-wrapper {
  margin-left: 60px;
  width: 100%;
  box-sizing: border-box;
}
.logo-profile{
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  background-size: cover;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

