#navsidebar {
  background-color: white;
  width: 110px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: (0px 1px 8px rgba(0, 0, 0, 0.1));
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#sidebar {
  background-color: white;
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: (0px 1px 8px rgba(104, 103, 103, 0.1));
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.grid-container {
  margin-left: 110px;
  margin-right: 400px;
  // margin-bottom: 40px;
  height: 100vh;
  max-height: 100vh;
  padding: 30px 40px 40px 40px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  row-gap: 20px;
  column-gap: 40px;
}

.activity-grid-item {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.activity-card {
  height: 100%;
  grid-column: span 2;
  background-color: white;
  border-radius: 16px;
  box-shadow: (0px 1px 8px rgba(104, 103, 103, 0.1));
  box-sizing: border-box;
}

.photos-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.photos-card {
  height: 100%;
  background-color: white;
  border-radius: 16px;
  box-shadow: (0px 1px 8px rgba(104, 103, 103, 0.1));
  box-sizing: border-box;
}

.messages-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.messages-card {
  height: 100%;
  background-color: white;
  border-radius: 16px;
  box-shadow: (0px 1px 8px rgba(104, 103, 103, 0.1));
  box-sizing: border-box;
}

.dashboard-card-titles {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 123, 78, 1);
  padding-inline-start: 15px;
}
