.dashboard-grid-container {
  margin-left: 120px;
  margin-right: 380px;
  height: 100vh;
  max-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  column-gap: 40px;
}

// SET sizes TO GLOBAL?
.card-headers > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-inline-start: 10px;
}

// Notifications Dot
.notification-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.notification-dot > p {
  font-size: 16px;
  color: white;
}


// Activity Section
.activity-grid-item {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.activity-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.acts-card {
  background-color: #FFFF;
  border-radius: 20px;
  border: 3px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  h5 {
    font-weight: bolder;
  }
}

.acts-info {
  text-align: center;
}

.acts-img {
  margin-top: 20px;
}

.info-imgs {
  width: 100px;
}


// Photo Section
.photos-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.photos-card {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  box-sizing: border-box;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.dashboard-grid-imgs {
  height: 100%;
  width: 100%;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
}


// Messages Section
.messages-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.messages-card {
  height: 100%;
  max-height: 320px;
  background-color: white;
  border-radius: 20px;
  // border: 3px solid black;
  box-sizing: border-box;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.dash-message {
  width: 100%;
  background-color: #FDF0D4;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
}

.message-meta {
  display: flex;
  justify-content: space-between;
}


// Hover for cards
.acts-card:hover, .photos-card:hover, .messages-card:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.acts-card:active, .photos-card:active, .messages-card:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

// Sidebar
.dash-sidebar {
  background-color: white;
  width: 350px;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  margin: 30px;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 20px;
  border: 3px solid black;
  padding: 20px 25px 0px 25px;

}

#dash-child-name {
  font-weight: bolder;
}

.dash-sidebar-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.dash-child-info {
  margin-top: 10px;
}

.avatar-container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-child-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.calendar-cards {
  margin-top: 15px;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

.date-card {
  height: 100%;
  background-color: #FBE7B8;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-card-today {
  height: 100%;
  background-color: #6A9DDF;
  border-radius: 8px;
  color: black;
  outline: 3px solid black;
  margin-inline: 1px;
  box-shadow: 0.1em 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-card-today:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.date {
  margin-top: 15px;
  text-align: center;
  line-height: 10px;
}


.upcoming-meetings {
  margin-right: -25px;
  padding-right: 10px;
  max-height: 410px;
  overflow-y: auto;
  // margin-bottom: 10px;
  // border-bottom-right-radius: 20px;
}

.meeting-card {
  width: 100%;
  border-radius: 12px;
  background-color: #FDF0D4;
  margin-bottom: 15px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  // align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.announcement-card:hover {
  background: #6A9DDF;
}

.event-title {
  flex: 3;
  margin: 0;
}

.event-date {
  flex: 1;
}

.dashboard_emojis_mood {
  height: 60px;
  width: 60px;
  margin: auto;
}

.dashboard_emojis_food {
  height: 40px;
  width: 40px;
}

@keyframes emojis_dashboard {
  0% { transform: translate(-6px, -12px); }
  33% { transform: translate(-8px, -12px); }
  66% { transform: translate(-8px, -14px); }
  100% { transform: translate(-6px, -14px); }
}

.dashboard_emojis_food:hover {
  animation: emojis_dashboard .15s infinite alternate;
}

.dashboard_emojis_mood:hover {
  animation: emojis_dashboard .15s infinite alternate;
}

.food_emoji_wrapper {
  display: flex;
  font-weight: bolder;
  // justify-content: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.bowel-number-wrapper {
  height: 80px;
  width: 80px;
  position: relative;
}
#bowel_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#bowel_number {
  z-index: 10;
  opacity: .6;
  font-size: 100px;
  font-weight: bolder;
  color:#4e8ee8da;
  top: -65px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 130px;
}

.overflow-box-message {
  overflow-x: hidden;
  border-radius: 20px;
  border: 3px solid black;
}
