.dash-sidebar {
  background-color: white;
  width: 350px;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  margin: 30px;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 20px;
  border: 3px solid black;
}

.sidebar ul li {
  list-style-type: none;
}

.dashboard-grid-container {
  margin-left: 120px;
  margin-right: 380px;
  height: 100vh;
  max-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 2, 1fr;
  row-gap: 30px;
  column-gap: 40px;
}

.activity-grid-item {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.activity-card {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.acts-card {
  height: 100%;
  background-color: #FFF;
  border-radius: 20px;
  border: 3px solid black;
  box-sizing: border-box;
}

.photos-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.photos-card {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  box-sizing: border-box;
}

.dashboard-img-grid {
  // width: 100%;
}

.messages-grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.messages-card {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
  box-sizing: border-box;
}

.card-headers {
  font-size: 1.2rem;
  font-weight: 700;
  padding-inline-start: 10px;
}
