.images-container{
  margin-left: 110px;
  margin-right: 400px;
  padding: 30px 40px 40px 40px;
  box-sizing: border-box;
}

.carousel {
  width: 100%;
  height: 100%;
}

.img-slide {
  border-radius: 20px;
}

.sidebar-images{
  border-radius: 16px;
}

.child-info {
  margin-left: 10px;
}

.image-gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

img {
  width: 100%;
  object-fit: cover;
  padding: 2px;
}

.info-child{
  padding-top: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
  background-image: none;
  background-color: white;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: green;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: green;
}

.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}
