.container {
  margin-left: 110px;
  margin-right: 400px;
  padding: 30px 40px 40px 40px;
  box-sizing: border-box;
}

.no-padding-top {
 padding-top: 0 !important;
}

.pt30 {
  padding-top: 30px;
}

.image-gallery-sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  img {
    width: 100%;
    object-fit: cover;
  }
}
