 <div class="content-wrapper">

    <%= render "chatrooms/chat", chatroom: @chatroom, message: @message %>

  <div id="sidebar-chatroom">
    <div>
      <ul class="chatroom-sidebar ms-4 px-5">
        <li class= "chatroom-sidebar-child-name nav">
          Contacts list
          <br>
        </li>
        <li class="pt-2">
          Nido | Ms Mary
        </li>
      </ul>
    </div>

     <span class="ms-4 pb-2"> <%= image_tag 'max.png', class:"avatar-sidebar-chatroom" %></span>
  </div>
</div>
