<div class="chatroom-container">

  <%= render "chatrooms/show" %>

</div>

<div id="sidebar-chatroom">
  <ul class="chatroom-sidebar">
    <li class= "chatroom-sidebar-child-name">
      Max
    </li>
    <li>
      Nido | Ms Mary
    </li>
  </ul>
    <%= image_tag 'max.png', class:"avatar-sidebar-chatroom" %>
</div>
