<div id="navsidebar">
</div>

<div class="dashboard-grid-container">
  <div class="activity-grid-item">
    <h3 class="card-headers">Daily Activities</h3>
    <div class="activity-card">
    </div>
  </div>

  <div class="photos-grid-item">
    <h3 class="card-headers">Photos</h3>
    <div class="photos-card">
    </div>
  </div>

  <div class="messages-grid-item">
    <h3 class="card-headers">Messages</h3>
    <div class="messages-card">
    </div>
  </div>
</div>

<div id="sidebar">
</div>
