<div class="dashboard-grid-container">
  <div class="activity-grid-item">
    <h3 class="card-headers">Daily Activities</h3>
    <div class="activity-card">
      <div class="acts-card">
        <div class="acts-content">

        </div>
      </div>

      <div class="acts-card">
        <div class="acts-content">
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-content">
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-content">
        </div>
      </div>
    </div>
  </div>

  <div class="photos-grid-item">
    <h3 class="card-headers">Photos</h3>
    <div class="photos-card">
      <%# cl_image_tag photo.photo.key, class: "dashboard-img-grid" %>
      <%# cl_image_tag photo.photo.key, class: "dashboard-img-grid" %>
      <%# cl_image_tag photo.photo.key, class: "dashboard-img-grid" %>
      <%# cl_image_tag photo.photo.key, class: "dashboard-img-grid" %>
    </div>
  </div>

  <div class="messages-grid-item">
    <h3 class="card-headers">Messages</h3>
    <div class="messages-card">
    </div>
  </div>
</div>

<div class="sidebar">
</div>
