<div id="navsidebar">
</div>
<div class="dashboard-grid-container">
<%# <%= link_to books_path do %> %>
  <div class="activity-grid-item">
    <h3 class="dashboard-card-titles">Daily Activities</h3>
    <div class="activity-card">
    </div>
  </div>
<%# <% end %> 

  <div class="photos-grid-item">
    <h3 class="dashboard-card-titles">Photos</h3>
    <div class="photos-card">
    </div>
  </div>

  <div class="messages-grid-item">
    <h3 class="dashboard-card-titles">Messages</h3>
    <div class="messages-card">
    </div>
  </div>
</div>

<div id="sidebar">
</div>
