

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  font-family: "Roboto", "sans-serif";

  h2 {
    font-size: 20px;
    // font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", "sans-serif";
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
