.home-navbar {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  // margin-left: 40px;
  // margin-right: 40px;
}

.home-nav-right {
  list-style: none;
  display: flex;
  justify-content: right;
  column-gap: 20px;
}
