.message-row {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 18px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 80%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #f9e4ad;
}

.receiver-style {
  background-color: #f7bda8;
}
.message-avatar{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
