.message-row {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 17px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 100%;
  max-width: 50%;
  min-height: 100px;
  height: 100%;
  padding: 15px 15px 5px 15px;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 1px;
  font-size: 12px;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.sender-style {
  display: flex;
  flex-direction: column;
  background-color: #f9e4ad;
  .av-message{
    flex-direction: row-reverse;
  }
}

.receiver-style {
  background-color: #4087ebda;
  display: flex;
  flex-direction: column;
}

.message-avatar{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.message-element {
  position: relative;
  height: 100%;
  padding-bottom: 5px;

  i {
    position: absolute;
    bottom: 1px;
    right: 4px;
    font-size: 12px;
  }
  .av-message{
    display: flex;
    font-size: 17px !important;
  } p{
    font-weight: 200;
    font-size: 17px;
  }
}
