// NavBar
.navbar{
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  margin: 30px;
  background-color: white;
  width: 90px;
  min-width: none;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid black;
  border-radius: 20px;
}

// Menu
.menu-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

// Logo
.logo-container {
  position: fixed;
  top: 60px;
}

// Signout
.nav-button {
  all: unset;
  cursor: pointer;
}
