// css for nav-sidebar
.navbar{
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  width: 110px;
  min-width: none;
  position: fixed;
  // top: 0;
  left: 0;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.1));
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: center;
}
// css code for the list of icons inside the nav-sidebar
#menu {
  row-gap: 20px;
}

.nav-link.active{
  background-color:#007B4E !important;
  border-radius: 65px !important;

}





/* Rectangle 37 */

// position: absolute;
// width: 59px;
// height: 59px;
// left: 31px;
// top: 254px;

// background: #007B4E;
// border-radius: 60px;
