// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// simple calendar
@import "simple_calendar";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background-color: rgb(213, 240, 215);
  // playing around with some colors:
    // background-color: #dad7cd;
    // background-color: #f0ead2;
    // background-color: #cfe1b9;
  // fav:
   // background-color: #dde7c7;
  margin: 0;
}
